## ПРАКТИКА 3.8


В качестве практической работы для закрепления навыков предлагаем вам потренироваться на достаточно популярной базе данных «Компьютерная фирма».
Схема БД состоит из четырёх таблиц:
Что входит в работу
Итак, перед вами будут стоять следующие задачи:
создать все указанные таблицы;наполнить их данными (как минимум по 100 значений);выполнить задачи, которые подробно описаны ниже.Таблица Product представляет производителя (maker), номер модели (model) и тип (PC — ПК, Laptop — портативный компьютер или Printer — принтер). Предполагается, что в этой таблице номера моделей уникальны для всех производителей и типов продуктов. В таблице PC для каждого номера модели, обозначающего ПК, указаны скорость процессора — speed (МГц), общий объём оперативной памяти — ram (Мб), размер диска — hd (Гб), скорость считывающего устройства — cd (например, '4х'), цена — price. Таблица Laptop аналогична таблице РС за исключением того, что вместо скорости CD-привода содержит размер экрана — screen (в дюймах). В таблице Printer для каждой модели принтера указывается, является ли он цветным — color ('y', если цветной), тип принтера — type (лазерный — Laser, струйный — Jet или матричный — Matrix) и цена — price.

## Библиотеки

In [1]:
import sqlite3
import random
import psycopg2
import pandas as pd

## Что входит в работу
Итак, перед вами будут стоять следующие задачи:

создать все указанные таблицы;

наполнить их данными (как минимум по 100 значений);

выполнить задачи, которые подробно описаны ниже.

## Создадим и заполним файлы таблиц с помощью random
создание и наполнение таблиц на диске
!!! без виртуала и соединения !!!

In [12]:

# Создание и наполнение tab-PC
with open('data/PC.sql', 'w') as file:
    file.write(
        'CREATE TABLE PC (code INTEGER PRIMARY KEY, model INTEGER, speed INTEGER, ram INTEGER, '
        'hd NUMERIC(10,1), cd VARCHAR(50), price NUMERIC(10,4));\n'
    )
    file.write('INSERT INTO PC\n')
    file.write('VALUES\n')

    values = []
    for code, i in enumerate(range(1121, 1225), start=1):
        values.append(
            f'({code}, {i}, {random.randrange(500, 901, 100)},'
            f' {random.randrange(32, 129, 32)}, {random.randrange(5, 21, 5)},'
            f' \'{random.randrange(12, 53, 4)}x\', {random.randrange(350, 1001, 50)})'
        )

    # Чтобы в конце не стояла запятая и код корректно сработал
    file.write(',\n'.join(values) + ';\n')
pc = file

In [13]:

# Создание и наполнение tab-Laptop
with open('data/Laptop.sql', 'w') as file:
    file.write(
        'CREATE TABLE Laptop (code INTEGER PRIMARY KEY, model INTEGER, speed INTEGER, ram INTEGER, '
        'hd NUMERIC(10,1), screen VARCHAR(50), price NUMERIC(10,4));\n'
    )
    file.write('INSERT INTO Laptop\n')
    file.write('VALUES\n')

    values = []
    for code, i in enumerate(range(2121, 2225), start=2000):
        values.append(
            f'({code}, {i}, {random.randrange(500, 901, 100)},'
            f' {random.randrange(32, 129, 32)}, {random.randrange(5, 21, 5)},'
            f' \'{random.randrange(10, 21, 1)}"\', {random.randrange(350, 1001, 50)})'
        )

    # Чтобы в конце не стояла запятая и код корректно сработал
    file.write(',\n'.join(values) + ';\n')
laptop = file

In [14]:

# Создание и наполнение tab-Printer
type_printer = ['Laser', 'Jet', 'Matrix']
type_color = ['y', 'n']
with open('data/Printer.sql', 'w') as file:
    file.write(
        'CREATE TABLE Printer (code INTEGER PRIMARY KEY, model INTEGER'
        'color VARCHAR(5), type VARCHAR(15), price NUMERIC(10,4));\n'
    )
    file.write('INSERT INTO Printer\n')
    file.write('VALUES\n')

    values = []
    for code, i in enumerate(range(3121, 3225), start=3000):
        values.append(
            f'({code}, {i}'
            f' {random.choice(type_color)},'
            f' {random.choice(type_printer)}, {random.randrange(50, 511, 10)})'
        )

    # Чтобы в конце не стояла запятая и код корректно сработал
    file.write(',\n'.join(values) + ';\n')
printer = file


1. randint(a, b): возвращает случайное целое число из диапазона a, b (включая оба конца).
2. random(): возвращает случайное число с плавающей точкой в диапазоне 0.0, 1.0 (включая 0.0, но не 1.0).
3. uniform(a, b): возвращает случайное число с плавающей точкой из диапазона a, b (включая оба конца).
4. choice(seq): возвращает случайный элемент из последовательности (списка, кортежа, строки и т. д.).
5. shuffle(lst): перемешивает элементы списка lst в случайном порядке.

## Немного теории

#### MariaDB

1. Установка MariaDB:
Для установки MariaDB в Ubuntu 22.04, откройте терминал и выполните следующие команды:
```
sudo apt update
sudo apt install mariadb-server
```

2. Запустите MariaDB:
После успешной установки, запустите MariaDB командой:
```
sudo systemctl start mariadb
```

3. Включите автозапуск MariaDB при загрузке системы:
```
sudo systemctl enable mariadb
```

4. Настройка безопасности MariaDB:
Выполните команду для запуска скрипта настройки безопасности:
```
sudo mysql_secure_installation
```
Следуйте инструкциям на экране для установки пароля администратора, удаления анонимных пользователей, отключения удаленного доступа к базе данных и удаления тестовой базы данных. 

5. Вход в MariaDB:
Чтобы войти в MariaDB и начать работать с базами данных, выполните следующую команду и введите пароль администратора, который вы установили на шаге 4:
```
sudo mysql -u root -p
```

6. Создание новой базы данных:
Чтобы создать новую базу данных, выполните следующую команду в MariaDB:
```
CREATE DATABASE название_базы_данных;
```

7. Создание нового пользователя:
Чтобы создать нового пользователя и предоставить ему права на доступ и управление базой данных, выполните следующие команды:
```
CREATE USER 'имя_пользователя'@'localhost' IDENTIFIED BY 'пароль';
GRANT ALL PRIVILEGES ON название_базы_данных.* TO 'имя_пользователя'@'localhost';
FLUSH PRIVILEGES;
```

Это основные шаги по установке и настройке MariaDB в Ubuntu 22.04. Следуйте этим инструкциям и вы сможете успешно установить и настроить MariaDB на своем сервере.

#### psycopg2


Библиотека psycopg2

Psycopg2 - это библиотека Python, которая предоставляет интерфейс программирования приложений (API) для доступа к PostgreSQL. Она поддерживает большинство современных версий PostgreSQL.

Psycopg2 был разработан для обеспечения высокой производительности и совместимости с различными версиями PostgreSQL. Он также предоставляет поддержку для различных типов данных, таких как строки, числа, даты и время, а также массивы.

Одним из преимуществ psycopg2 является его простота использования. Он имеет простой и понятный API, который позволяет разработчикам быстро начать работу с PostgreSQL. Кроме того, psycopg2 поддерживает множество других функций, таких как транзакции, курсоры, параметры команд и многое другое.

В целом, psycopg2 является отличным выбором для разработчиков Python, которые хотят работать с PostgreSQL. Он обеспечивает высокую производительность, простоту использования и широкий спектр функций, которые делают его идеальным для различных приложений.

Чтобы установить эту библиотеку используем терминал (командную строку). Лучше конечно делать это в виртуальном окружении проекта.

pip install psycopg2

Использовать в проекте (я работал с версией v.2.9.7):

import psycopg2

#### Теория и код по созданию баз данных

курс-шпаргалка на степике
https://stepik.org/course/182183/syllabus


Используем Docker

Выполним все по шагам.

1. Качаем образ через командную строку (я использовал Postgres v.16)

docker pull postgres:16

2. Создаем контейнер на базе него

docker run -d -p 5432:5432 --name myPostgreSQL -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=admin postgres:16

 В кратце кто что значит:

    docker - это cli команда для начала работы
    run - запустить контейнер (указанный в конце - rabbitmq:3-management)
    -d - параметр, который указывает, что нужно запустить в фоновом режиме.
    можно добавить --rm для удаления контейнера после остановки.
    --name myPostgreSQL - даем название нашему контейнеру.
    -e - это переменные, которые нужно указать для контейнера. Пользователь и пароль для входа в Postgres.
    -p - открываем соответствующие двери для контейнера и нашей винды. 5432 - стандартный порт для PostgreSQL.
    postgres:16 - образ, из которого мы делаем контейнер с указанием тега (версии).

Готово, можно уже писать программу. Обращаться к этому серверу с такими данными:

    Хост -  127.0.0.1
    Порт - 5432
    Юзер - postgres
    Пароль - admin


Используем Docker 2

В этом шаге подключим pgAdmin.

1. Создаем сеть для связи PostgreSQL и pgAmin.

docker network create pgNetwork

2. Качаем образ PostgreSQL (версию сами выбираете, у меня 16, либо без версии)

docker pull postgres:16

3. Качаем образ pgAdmin (опять же версия на ваше усмотрение)

docker pull dpage/pgadmin4:7.7

4. Создаем контейнер для PostgreSQL

docker run -d --network pgNetwork -p 5432:5432 --name myPostgreSQL -e POSTGRES_USER=postgres -e POSTGRES_PASSWORD=admin postgres:16

5. Создаем контейнер для pgAdmin

docker run -d --network pgNetwork -p 5050:80 --name myPGAdmin -e "PGADMIN_DEFAULT_EMAIL=postgres@gmail.com" -e "PGADMIN_DEFAULT_PASSWORD=admin" dpage/pgadmin4:7.7

6. Заходим в pgAdmin:

    в браузере вводим 127.0.0.1:5050
    логин - postgres@gmail.com (указан выше п.5)
    пароль - admin (указан выше п.5)

7. Получаем IP сервера PostgreSQL:

    (через командную строку) вбиваем команду: docker inspect myPostgreSQL (название указано выше)
    вытаскиваем данные из пункта Networks->IPAddress
    копируем IP

8. В pgAdmin создаем сервер:

    Слева правой клавишей нажимаем на Servers и создаем новый сервер
    Нужно указать название сервера (можно любое, только на английском)
    Нужно указать IP-адрес на второй вкладке (который мы получили в п.7)
    Нужно указать пароль - admin (мы указали его в п.4)
    Поставить галочку сохранить пароль

9. Поздравляю. Связь установлена. Из программного кода локальной машины обращаемся через 127.0.0.1:5432

по такому-же принципу работаем с mysql, mariadb и прочими СУБД

#### вариант немного проще из курса skillbox

вручную поднять PostgreSQL через Docker. В командной строке пропишите
docker pull postgres:latest

docker run -d --name postgresql -p 5432 если порт занят меняем это значение
docker run -d --name postgresql -p 5432:5432 -e POSTGRES_PASSWORD=pass123 postgres

Далее нужно создать базу, для этого нужно войти в контейнер. Узнаем id контейнера:

docker ps

Подключаемся (62c555b58099 замените на id вашего контейнера):

docker exec -it 62c555b58099 bash

Далее, уже будучи в контейнере, входим в командную строку psql:

psql -U postgres

бинго - пишем SQL)

хорошие ссылки:
    https://youtu.be/8OYoPGH0BX0
    DBeaver  - Лучший SQL Client для работы с Базами Данных.  Установка  Обзор.  -  часть1 (youtube.com)
    DBeaver Tutorial - How to Use DBeaver (SQL Editor) (youtube.com)

Отличная большая шпаргалка по SQL
https://habr.com/ru/articles/792630/#95

## Конектимся в jupyter к нашей DB и начинаем творить)

In [2]:
# это рабочая функция с правильным соединеним с базой

def create_connection():
    connection = None
    try:
        connection = psycopg2.connect(
            database="practice_3",  # эта БД уже должна быть 
            user='postgres',
            password='2549',
            host='127.0.0.1',
            port='5433',
        )
        print("Подключение к базе данных PostgreSQL прошло успешно")
    except Exception as e:
        print(f"Произошла ошибка:\n{e}")
    return connection


def close_connection(connection):
    connection.close()
    print("Соединение закрыто")

In [11]:
# Создание значений для таблицы PC
# с преобразованием в sql строку


values = []
for code, i in enumerate(range(1121, 1225), start=1):
    values.append(
        f'({code}, {i}, {random.randrange(500, 901, 100)},'
        f' {random.randrange(32, 129, 32)}, {random.randrange(5, 21, 5)},'
        f' \'{random.randrange(12, 53, 4)}x\', {random.randrange(350, 1001, 50)})'
    )

sql_values_pc = ', '.join(values)
#sql_query = f'INSERT INTO table_name (column1, column2, column3, column4) VALUES {sql_values};'

print(sql_values_pc)

(1, 1121, 500, 64, 20, '12x', 700), (2, 1122, 800, 128, 5, '16x', 750), (3, 1123, 800, 64, 10, '52x', 650), (4, 1124, 600, 96, 10, '52x', 550), (5, 1125, 600, 128, 5, '40x', 1000), (6, 1126, 800, 32, 20, '12x', 950), (7, 1127, 600, 64, 5, '16x', 950), (8, 1128, 600, 128, 20, '20x', 950), (9, 1129, 700, 128, 15, '28x', 350), (10, 1130, 800, 64, 10, '44x', 600), (11, 1131, 700, 96, 20, '40x', 750), (12, 1132, 500, 96, 20, '20x', 550), (13, 1133, 700, 64, 5, '32x', 600), (14, 1134, 700, 96, 15, '28x', 950), (15, 1135, 900, 32, 20, '12x', 450), (16, 1136, 900, 64, 15, '12x', 950), (17, 1137, 700, 32, 10, '52x', 700), (18, 1138, 500, 128, 20, '36x', 400), (19, 1139, 500, 96, 5, '12x', 950), (20, 1140, 500, 32, 15, '44x', 900), (21, 1141, 900, 64, 15, '36x', 900), (22, 1142, 500, 32, 15, '32x', 800), (23, 1143, 600, 32, 20, '52x', 400), (24, 1144, 500, 32, 10, '52x', 1000), (25, 1145, 600, 32, 5, '24x', 550), (26, 1146, 800, 128, 20, '20x', 400), (27, 1147, 600, 32, 5, '12x', 450), (28, 1148, 500, 64, 10, '32x', 850), (29, 1149, 900, 128, 20, '20x', 700), (30, 1150, 900, 64, 5, '24x', 950), (31, 1151, 900, 32, 10, '32x', 900), (32, 1152, 900, 64, 20, '52x', 600), (33, 1153, 800, 128, 20, '52x', 900), (34, 1154, 800, 64, 10, '16x', 800), (35, 1155, 600, 32, 5, '36x', 850), (36, 1156, 700, 32, 10, '16x', 950), (37, 1157, 800, 32, 5, '44x', 600), (38, 1158, 500, 128, 20, '44x', 600), (39, 1159, 500, 128, 15, '24x', 850), (40, 1160, 900, 128, 20, '48x', 600), (41, 1161, 500, 128, 20, '40x', 900), (42, 1162, 700, 64, 15, '16x', 350), (43, 1163, 600, 96, 20, '28x', 600), (44, 1164, 900, 96, 20, '12x', 850), (45, 1165, 600, 96, 15, '44x', 950), (46, 1166, 500, 128, 15, '40x', 450), (47, 1167, 800, 32, 5, '36x', 800), (48, 1168, 600, 128, 20, '48x', 600), (49, 1169, 900, 32, 10, '28x', 450), (50, 1170, 700, 96, 10, '28x', 850), (51, 1171, 800, 32, 5, '48x', 950), (52, 1172, 900, 32, 5, '28x', 650), (53, 1173, 600, 64, 15, '44x', 450), (54, 1174, 600, 64, 15, '48x', 950), (55, 1175, 700, 128, 20, '36x', 900), (56, 1176, 800, 32, 15, '20x', 650), (57, 1177, 800, 128, 5, '24x', 750), (58, 1178, 800, 96, 5, '32x', 750), (59, 1179, 500, 128, 10, '24x', 600), (60, 1180, 700, 64, 5, '28x', 700), (61, 1181, 600, 32, 10, '36x', 700), (62, 1182, 600, 128, 20, '52x', 700), (63, 1183, 900, 32, 15, '44x', 650), (64, 1184, 900, 64, 5, '32x', 850), (65, 1185, 500, 96, 20, '12x', 900), (66, 1186, 600, 96, 10, '32x', 600), (67, 1187, 900, 128, 5, '32x', 1000), (68, 1188, 600, 96, 10, '24x', 450), (69, 1189, 500, 128, 20, '40x', 550), (70, 1190, 600, 96, 5, '40x', 1000), (71, 1191, 900, 32, 20, '36x', 700), (72, 1192, 900, 128, 20, '48x', 600), (73, 1193, 800, 128, 20, '40x', 900), (74, 1194, 600, 96, 5, '44x', 850), (75, 1195, 500, 64, 10, '52x', 750), (76, 1196, 800, 32, 10, '16x', 400), (77, 1197, 800, 64, 20, '48x', 350), (78, 1198, 500, 96, 10, '12x', 850), (79, 1199, 600, 128, 5, '44x', 650), (80, 1200, 600, 32, 20, '20x', 950), (81, 1201, 700, 96, 15, '44x', 700), (82, 1202, 700, 128, 20, '52x', 1000), (83, 1203, 900, 96, 5, '32x', 350), (84, 1204, 600, 96, 5, '24x', 750), (85, 1205, 600, 64, 15, '36x', 550), (86, 1206, 700, 32, 15, '32x', 600), (87, 1207, 800, 96, 10, '20x', 1000), (88, 1208, 500, 96, 20, '48x', 350), (89, 1209, 600, 64, 15, '16x', 700), (90, 1210, 500, 128, 15, '28x', 600), (91, 1211, 500, 96, 15, '48x', 750), (92, 1212, 500, 96, 10, '36x', 500), (93, 1213, 700, 64, 5, '24x', 1000), (94, 1214, 500, 32, 15, '24x', 400), (95, 1215, 700, 96, 20, '16x', 350), (96, 1216, 500, 64, 20, '24x', 650), (97, 1217, 800, 64, 15, '36x', 450), (98, 1218, 700, 128, 20, '20x', 500), (99, 1219, 700, 64, 15, '44x', 450), (100, 1220, 500, 128, 10, '28x', 400), (101, 1221, 800, 96, 5, '52x', 900), (102, 1222, 800, 128, 10, '32x', 900), (103, 1223, 500, 96, 5, '20x', 400), (104, 1224, 600, 96, 5, '12x', 600)

In [5]:
# Создание значений для таблицы printer
# с преобразованием в sql строку

type_printer = ['Laser', 'Jet', 'Matrix']
type_color = ['y', 'n']

values = []
for code, i in enumerate(range(3121, 3225), start=3000):
    values.append(
        f"({code}, {i}, "
        f"'{random.choice(type_color)}', "
        f"'{random.choice(type_printer)}', "
        f"{random.randrange(50, 511, 10)})"
    )

sql_values_printer = ', '.join(values)

#sql_query = f'INSERT INTO table_name (column1, column2, column3, column4) VALUES {sql_values};'

print(sql_values_printer)

(3000, 3121, 'y', 'Laser', 150), (3001, 3122, 'n', 'Jet', 310), (3002, 3123, 'n', 'Laser', 180), (3003, 3124, 'y', 'Matrix', 350), (3004, 3125, 'y', 'Laser', 440), (3005, 3126, 'y', 'Jet', 320), (3006, 3127, 'n', 'Jet', 470), (3007, 3128, 'n', 'Matrix', 430), (3008, 3129, 'y', 'Jet', 80), (3009, 3130, 'n', 'Jet', 250), (3010, 3131, 'y', 'Jet', 250), (3011, 3132, 'y', 'Jet', 210), (3012, 3133, 'y', 'Laser', 130), (3013, 3134, 'y', 'Laser', 200), (3014, 3135, 'y', 'Laser', 170), (3015, 3136, 'n', 'Laser', 160), (3016, 3137, 'n', 'Laser', 280), (3017, 3138, 'y', 'Jet', 410), (3018, 3139, 'y', 'Matrix', 380), (3019, 3140, 'n', 'Jet', 230), (3020, 3141, 'y', 'Jet', 360), (3021, 3142, 'n', 'Laser', 470), (3022, 3143, 'n', 'Matrix', 430), (3023, 3144, 'y', 'Jet', 110), (3024, 3145, 'y', 'Matrix', 60), (3025, 3146, 'y', 'Jet', 380), (3026, 3147, 'y', 'Laser', 130), (3027, 3148, 'y', 'Laser', 470), (3028, 3149, 'n', 'Matrix', 440), (3029, 3150, 'y', 'Laser', 60), (3030, 3151, 'n', 'Jet', 160), (3031, 3152, 'y', 'Jet', 240), (3032, 3153, 'y', 'Matrix', 350), (3033, 3154, 'y', 'Laser', 450), (3034, 3155, 'n', 'Jet', 310), (3035, 3156, 'y', 'Jet', 410), (3036, 3157, 'y', 'Laser', 160), (3037, 3158, 'n', 'Laser', 320), (3038, 3159, 'n', 'Jet', 260), (3039, 3160, 'n', 'Matrix', 190), (3040, 3161, 'y', 'Matrix', 310), (3041, 3162, 'n', 'Laser', 200), (3042, 3163, 'n', 'Jet', 100), (3043, 3164, 'y', 'Jet', 190), (3044, 3165, 'y', 'Jet', 160), (3045, 3166, 'n', 'Laser', 210), (3046, 3167, 'y', 'Laser', 340), (3047, 3168, 'n', 'Matrix', 250), (3048, 3169, 'n', 'Matrix', 210), (3049, 3170, 'y', 'Jet', 180), (3050, 3171, 'y', 'Jet', 230), (3051, 3172, 'y', 'Matrix', 140), (3052, 3173, 'n', 'Jet', 220), (3053, 3174, 'y', 'Matrix', 300), (3054, 3175, 'y', 'Jet', 370), (3055, 3176, 'y', 'Matrix', 90), (3056, 3177, 'n', 'Laser', 120), (3057, 3178, 'y', 'Laser', 190), (3058, 3179, 'y', 'Laser', 200), (3059, 3180, 'y', 'Matrix', 350), (3060, 3181, 'y', 'Jet', 240), (3061, 3182, 'y', 'Matrix', 130), (3062, 3183, 'n', 'Jet', 440), (3063, 3184, 'y', 'Matrix', 150), (3064, 3185, 'n', 'Jet', 50), (3065, 3186, 'y', 'Jet', 410), (3066, 3187, 'y', 'Laser', 270), (3067, 3188, 'n', 'Laser', 60), (3068, 3189, 'n', 'Matrix', 480), (3069, 3190, 'y', 'Matrix', 300), (3070, 3191, 'n', 'Laser', 310), (3071, 3192, 'y', 'Jet', 410), (3072, 3193, 'y', 'Jet', 250), (3073, 3194, 'n', 'Laser', 220), (3074, 3195, 'n', 'Jet', 140), (3075, 3196, 'y', 'Jet', 450), (3076, 3197, 'n', 'Matrix', 50), (3077, 3198, 'n', 'Matrix', 170), (3078, 3199, 'n', 'Jet', 400), (3079, 3200, 'y', 'Matrix', 410), (3080, 3201, 'n', 'Jet', 70), (3081, 3202, 'y', 'Laser', 360), (3082, 3203, 'y', 'Matrix', 170), (3083, 3204, 'n', 'Matrix', 490), (3084, 3205, 'y', 'Jet', 420), (3085, 3206, 'y', 'Jet', 400), (3086, 3207, 'y', 'Jet', 280), (3087, 3208, 'n', 'Matrix', 360), (3088, 3209, 'n', 'Jet', 300), (3089, 3210, 'y', 'Laser', 50), (3090, 3211, 'n', 'Matrix', 450), (3091, 3212, 'y', 'Laser', 240), (3092, 3213, 'y', 'Jet', 310), (3093, 3214, 'n', 'Jet', 100), (3094, 3215, 'n', 'Laser', 280), (3095, 3216, 'n', 'Jet', 430), (3096, 3217, 'y', 'Jet', 270), (3097, 3218, 'n', 'Matrix', 440), (3098, 3219, 'y', 'Jet', 50), (3099, 3220, 'n', 'Matrix', 290), (3100, 3221, 'n', 'Laser', 170), (3101, 3222, 'n', 'Matrix', 510), (3102, 3223, 'n', 'Laser', 200), (3103, 3224, 'y', 'Jet', 220)

здесь нужно заключить символы в одинарные кавычки, чтобы они воспринимались как строки, а не как столбцы. иначе возникнет ошибка при внесении данных в таблицу

In [57]:
# Создание значений для таблицы tab-Laptop

values = []
for code, i in enumerate(range(2121, 2225), start=2000):
    values.append(
    f'({code}, {i}, {random.randrange(500, 901, 100)},'
    f' {random.randrange(32, 129, 32)}, {random.randrange(5, 21, 5)},'
    f' {random.randrange(10, 21, 1)}, {random.randrange(350, 1001, 50)})'
    )

sql_values_laptop = ', '.join(values)
#sql_query = f'INSERT INTO table_name (column1, column2, column3, column4) VALUES {sql_values};'

print(sql_values_laptop)

(2000, 2121, 500, 32, 15, 13, 750), (2001, 2122, 700, 128, 5, 12, 700), (2002, 2123, 500, 128, 20, 20, 500), (2003, 2124, 900, 128, 5, 10, 500), (2004, 2125, 800, 32, 20, 12, 950), (2005, 2126, 800, 128, 20, 10, 450), (2006, 2127, 900, 64, 15, 14, 550), (2007, 2128, 500, 96, 20, 19, 450), (2008, 2129, 700, 32, 15, 17, 850), (2009, 2130, 600, 96, 20, 13, 1000), (2010, 2131, 700, 96, 15, 13, 350), (2011, 2132, 700, 32, 15, 16, 450), (2012, 2133, 500, 32, 5, 10, 550), (2013, 2134, 900, 128, 10, 18, 950), (2014, 2135, 700, 32, 5, 12, 850), (2015, 2136, 500, 128, 5, 12, 1000), (2016, 2137, 600, 32, 5, 18, 1000), (2017, 2138, 500, 96, 15, 17, 800), (2018, 2139, 500, 64, 15, 14, 400), (2019, 2140, 700, 96, 15, 20, 500), (2020, 2141, 600, 32, 15, 10, 1000), (2021, 2142, 600, 64, 20, 10, 800), (2022, 2143, 800, 32, 20, 10, 400), (2023, 2144, 500, 32, 20, 17, 500), (2024, 2145, 500, 64, 10, 16, 900), (2025, 2146, 800, 96, 20, 10, 350), (2026, 2147, 500, 64, 10, 12, 600), (2027, 2148, 500, 96, 10, 20, 700), (2028, 2149, 500, 96, 15, 20, 450), (2029, 2150, 600, 96, 5, 13, 600), (2030, 2151, 700, 32, 20, 15, 750), (2031, 2152, 700, 96, 15, 16, 950), (2032, 2153, 600, 32, 10, 16, 350), (2033, 2154, 700, 32, 10, 15, 650), (2034, 2155, 600, 32, 15, 12, 1000), (2035, 2156, 700, 128, 10, 11, 950), (2036, 2157, 500, 64, 20, 12, 400), (2037, 2158, 500, 128, 15, 19, 550), (2038, 2159, 500, 128, 15, 20, 450), (2039, 2160, 800, 32, 10, 13, 600), (2040, 2161, 500, 96, 15, 13, 450), (2041, 2162, 500, 64, 15, 16, 1000), (2042, 2163, 800, 96, 10, 19, 500), (2043, 2164, 900, 64, 5, 17, 800), (2044, 2165, 800, 96, 5, 14, 800), (2045, 2166, 800, 32, 20, 13, 600), (2046, 2167, 600, 32, 10, 15, 1000), (2047, 2168, 800, 96, 15, 17, 800), (2048, 2169, 600, 128, 15, 20, 600), (2049, 2170, 800, 32, 20, 11, 500), (2050, 2171, 500, 32, 15, 19, 950), (2051, 2172, 900, 96, 15, 16, 500), (2052, 2173, 600, 64, 20, 10, 700), (2053, 2174, 900, 96, 5, 17, 350), (2054, 2175, 900, 64, 20, 18, 700), (2055, 2176, 700, 128, 15, 16, 950), (2056, 2177, 500, 96, 5, 20, 800), (2057, 2178, 600, 128, 15, 20, 950), (2058, 2179, 700, 128, 5, 20, 750), (2059, 2180, 500, 64, 15, 14, 450), (2060, 2181, 600, 128, 15, 12, 650), (2061, 2182, 600, 32, 15, 12, 850), (2062, 2183, 800, 128, 5, 13, 500), (2063, 2184, 500, 32, 20, 20, 850), (2064, 2185, 800, 32, 20, 11, 550), (2065, 2186, 800, 32, 5, 17, 700), (2066, 2187, 700, 128, 10, 12, 950), (2067, 2188, 800, 96, 20, 17, 950), (2068, 2189, 700, 128, 10, 12, 750), (2069, 2190, 900, 128, 10, 14, 500), (2070, 2191, 700, 64, 20, 14, 550), (2071, 2192, 600, 32, 10, 14, 450), (2072, 2193, 900, 32, 10, 11, 500), (2073, 2194, 800, 32, 20, 13, 850), (2074, 2195, 600, 96, 20, 10, 950), (2075, 2196, 800, 128, 20, 12, 550), (2076, 2197, 600, 32, 15, 10, 750), (2077, 2198, 700, 64, 20, 16, 450), (2078, 2199, 600, 32, 10, 11, 700), (2079, 2200, 900, 64, 20, 19, 700), (2080, 2201, 600, 96, 20, 18, 1000), (2081, 2202, 800, 32, 10, 10, 750), (2082, 2203, 800, 32, 20, 17, 800), (2083, 2204, 600, 64, 5, 12, 750), (2084, 2205, 800, 128, 10, 14, 400), (2085, 2206, 700, 64, 15, 11, 400), (2086, 2207, 500, 64, 10, 19, 550), (2087, 2208, 500, 128, 5, 18, 800), (2088, 2209, 600, 128, 10, 14, 550), (2089, 2210, 900, 32, 15, 12, 800), (2090, 2211, 900, 96, 15, 20, 600), (2091, 2212, 800, 32, 10, 10, 900), (2092, 2213, 900, 128, 5, 19, 750), (2093, 2214, 900, 32, 10, 18, 950), (2094, 2215, 600, 96, 20, 10, 450), (2095, 2216, 900, 64, 10, 17, 750), (2096, 2217, 500, 32, 10, 20, 500), (2097, 2218, 500, 64, 10, 17, 350), (2098, 2219, 700, 32, 10, 19, 400), (2099, 2220, 700, 96, 20, 14, 700), (2100, 2221, 700, 32, 5, 18, 350), (2101, 2222, 700, 32, 20, 15, 900), (2102, 2223, 700, 32, 15, 14, 850), (2103, 2224, 800, 64, 15, 20, 500)

Просто пример кода:

if __name__ == '__main__':
    conn = create_connection()
    if conn:
        with conn.cursor() as cursor:
            # sql для выполнения
            sql = "CREATE users (" \
                  "brand VARCHAR(255), " \
                  "model VARCHAR(255), " \
                  "year INT" \
                  ");"
            # выполнение запроса
            cursor.execute(sql)
            # потверждение выполнения запроса
            conn.commit()
        close_connection(conn)

данные таблиц:
(
        'CREATE TABLE PC (code INTEGER PRIMARY KEY, model INTEGER, speed INTEGER, ram INTEGER, '
        'hd NUMERIC(10,1), cd VARCHAR(50), price NUMERIC(10,4));\n'
    )

(
        'CREATE TABLE Laptop (code INTEGER PRIMARY KEY, model INTEGER, speed INTEGER, ram INTEGER, '
        'hd NUMERIC(10,1), screen VARCHAR(50), price NUMERIC(10,4));\n'
    )
    
(
        'CREATE TABLE Printer (code INTEGER PRIMARY KEY, model INTEGER'
        'color VARCHAR(5), type VARCHAR(15), price NUMERIC(10,4));\n'
    )

In [16]:
# создадим таблицу PC

if __name__ == '__main__':
    conn = create_connection()
    if conn:
        with conn.cursor() as cursor:
            # sql для выполнения
            sql = 'CREATE TABLE PC (code INTEGER PRIMARY KEY, model INTEGER, speed INTEGER, ram INTEGER, hd NUMERIC(10,1), cd VARCHAR(50), price NUMERIC(10,4));\n'
            # выполнение запроса
            cursor.execute(sql)
            # потверждение выполнения запроса
            conn.commit()
        close_connection(conn)

Подключение к базе данных PostgreSQL прошло успешно
Соединение закрыто

In [8]:
# создадим таблицу LAPTOP

if __name__ == '__main__':
    conn = create_connection()
    if conn:
        with conn.cursor() as cursor:
            # sql для выполнения
            sql = 'CREATE TABLE laptop (code INTEGER PRIMARY KEY, model INTEGER, speed INTEGER, ram INTEGER, hd NUMERIC(10,1), screen VARCHAR(50), price NUMERIC(10,4));\n'
            # выполнение запроса
            cursor.execute(sql)
            # потверждение выполнения запроса
            conn.commit()
        close_connection(conn)

Подключение к базе данных PostgreSQL прошло успешно

DuplicateTable: relation "laptop" already exists

In [66]:
# создадим таблицу printer

if __name__ == '__main__':
    conn = create_connection()
    if conn:
        with conn.cursor() as cursor:
            # sql для выполнения
            sql = 'CREATE TABLE printer (code INTEGER PRIMARY KEY, model INTEGER, color VARCHAR(5), type VARCHAR(15), price NUMERIC(10,4));\n'
            # выполнение запроса
            cursor.execute(sql)
            # потверждение выполнения запроса
            conn.commit()
        close_connection(conn)

Подключение к базе данных PostgreSQL прошло успешно
Соединение закрыто

In [73]:
# Наполняем данными таблицу PC

if __name__ == '__main__':
    conn = create_connection()
    if conn:
        with conn.cursor() as cursor:
            # sql для выполнения
            sql = f'INSERT INTO PC (code, model, speed, ram, hd, cd, price) VALUES {sql_values_pc};'
            # выполнение запроса
            cursor.execute(sql)
            # потверждение выполнения запроса
            conn.commit()
        close_connection(conn)

Подключение к базе данных PostgreSQL прошло успешно
Соединение закрыто

In [58]:
# Наполняем данными таблицу laptop

if __name__ == '__main__':
    conn = create_connection()
    if conn:
        with conn.cursor() as cursor:
            # sql для выполнения
            sql = f'INSERT INTO laptop (code, model, speed, ram, hd, screen, price) VALUES {sql_values_laptop};'
            # выполнение запроса
            cursor.execute(sql)
            # потверждение выполнения запроса
            conn.commit()
        close_connection(conn)

Подключение к базе данных PostgreSQL прошло успешно
Соединение закрыто

In [6]:
# Наполняем данными таблицу printer

if __name__ == '__main__':
    conn = create_connection()
    if conn:
        with conn.cursor() as cursor:
            # sql для выполнения
            sql = f'INSERT INTO printer (code, model, color, type, price) VALUES {sql_values_printer};'
            # выполнение запроса
            cursor.execute(sql)
            # потверждение выполнения запроса
            conn.commit()
        close_connection(conn)

Подключение к базе данных PostgreSQL прошло успешно
Соединение закрыто

## Скрипты для домашнего задания (таблицы созданы и наполнены)

дальше пишем в dbeaver, код на память)

Задача

    Напишите запросы к базе данных.
        Найдите модели принтеров, имеющих самую высокую цену. Вывести: model, price.
        Найдите среднюю скорость ПК.
        Найдите производителя, продающего ПК, но не ноутбуки.
    Загрязните специально датасет (вставьте новые значения с уникальным кодом, но всеми остальными дублирующими полями).
    Напишите оконную функцию, которая поможет вам обнаружить эти строки-редиски.
    Обновите название колонки в таблице printer с color на color_type и поменяйте тип поля.
    В последнем пункте выполните слияние двух запросов из таблиц PC и Laptop, выбрав только те значения, у которых цена больше 500, а ram = 64.

Отличная большая шпаргалка по SQL
https://habr.com/ru/articles/792630/#95

Создадим наконец таблицу product)

Таблица Product представляет производителя (maker), номер модели (model) и тип (PC — ПК, Laptop — портативный компьютер или Printer — принтер). Предполагается, что в этой таблице номера моделей уникальны для всех производителей и типов продуктов

create table product (maker VARCHAR(15), model INTEGER, type VARCHAR(15));

добавим данные из таблиц pc, laptop, printer

INSERT INTO product (model, type) SELECT model, 'pc' FROM pc;

INSERT INTO product (model, type) SELECT model, 'laptop' FROM laptop;

INSERT INTO product (model, type) SELECT model, 'printer' FROM printer;

CREATE OR REPLACE FUNCTION random() RETURNS FLOAT AS 'SELECT random()' LANGUAGE 'sql' IMMUTABLE;

SELECT * FROM random();

CREATE OR REPLACE FUNCTION random() RETURNS FLOAT AS 'SELECT pg_catalog.random()' LANGUAGE 'sql' IMMUTABLE;
SELECT * FROM pg_catalog.random();

заполним производителя

update product

set maker = substring(md5(cast(random() as text)) from 1 for 5);

Найдите модели принтеров, имеющих самую высокую цену. Вывести: model, price.

select model, price from printer order by price desc limit 15;

Найдите среднюю скорость ПК

select avg(speed) from pc;

In [ ]:
Найдите производителя, продающего ПК, но не ноутбуки

select maker,type from product where type = 'pc' and type != 'laptop';

In [ ]:
Загрязните специально датасет (вставьте новые значения с уникальным кодом, но всеми остальными дублирующими полями).

INSERT INTO pc SELECT DISTINCT code + (SELECT COUNT(*) FROM pc),  model, speed, ram, hd, cd, price FROM pc;

In [ ]:


SELECT *
FROM pc
WHERE (model, speed, ram, hd, cd, price)
IN (
    SELECT model, speed, ram, hd, cd, price
    FROM pc
    GROUP BY model, speed, ram, hd, cd, price
    HAVING COUNT(*) > 1
)
ORDER BY model, speed, ram, hd, cd, price;

ошибочка вышла) - оконная функция

SELECT model, speed, ram, hd, cd, price
FROM (
SELECT model, speed, ram, hd, cd, price,
ROW_NUMBER() OVER (PARTITION BY model, speed, ram, hd, cd, price ORDER BY model, speed, ram, hd, cd, price)
rn
FROM pc
) q1
where rn > 1;

ну и удалим заодно)

delete FROM pc
WHERE (model, speed, ram, hd, cd, price)
IN (
    SELECT model, speed, ram, hd, cd, price
    FROM pc
    GROUP BY model, speed, ram, hd, cd, price
    HAVING COUNT(*) > 1
);

Обновите название колонки в таблице printer с color на color_type и поменяйте тип поля.

alter table printer
rename column color to color_type;

alter table printer 
alter column color_type type text;

In [ ]:
SELECT * FROM PC 
WHERE price > 500 AND ram = 64
UNION
SELECT * FROM Laptop 
WHERE price > 500 AND ram = 64;